.git
.gitignore
.gitattributes

.dockerignore
docker/**/*Dockerfile

bootstrap/cache/*

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

vendor
tests
phpunit.xml

node_modules
public/css/login.css
public/css/style.css
public/js/custom.js
public/mix-manifest.json
public/storage

*.md
.env*
*.log

.eslintignore
.eslintrc.json

Makefile
.editorconfig
.styleci.yml
framgia-ci.yml
