/node_modules
/public/hot
/public/storage
/public/assets/webpack
/storage/*.key
/vendor
.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
gkc_*
.framgia-ci-reports
.framgia-ci-result.temp.yml
/public/css/login.css
/public/css/style.css
/public/css/landing.css
/public/js/custom.js
/public/mix-manifest.json
/public/docs/*
/resources/docs/*
