.full-height {
  height: 100%;
}

.pl-20 {
    padding-left: 20px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-4 {
    margin-top: 4px;
}

.webhook-description {
    max-width: 350px !important;
}

.required::after {
  color: red;
  content: "*";
  font-size: 15px;
}

.btn-pull-right {
  margin-left: 80% !important;
  margin-bottom: 5px !important;
}

.modal-title {
  font-weight: bold !important;
  text-align: center;
}

.model-content {
  text-align: center;
}

.float-right {
  float: right;
  margin: 10px;
}

.btn--link-primary {
  color: #3990de;
}

.btn--link-danger {
  color: #f6576a;
}

.font-weight-normal {
  font-weight: 400!important;
}

.payload-example {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.detail-screen-modal {
  top: calc(20% - 100px);
  left: calc(20% - 300px);
}

.padding-l-r-10 {
  padding-left: 10%;
  padding-right: 10%;
}
.width350 {
  width: 350px;
}
.display-none {
  display: none!important;
}
.padding-bottom-30 {
  padding-bottom: 30px!important;
}

.tbl-no-data {
  color: #f6576a;
  margin-top: .3rem;
  line-height: .825rem;
  padding-left: 2rem;
  display: block;
}

.btn-search{
  background-color: #00d3d5 !important;
  border-color: #dbe1e8 !important;
  color: #f5f5f5;
}

.rectangle-failed {
  border: 2px solid #0b0b0b;
  background-color: #F63328;
  display: inline-block !important;
  height: 20px;
  margin-bottom: -3px;
  margin-right: 5px;
  width: 35px;
}

.rectangle-successful {
  border: 2px solid #0b0b0b;
  background-color: #3af900;
  display: inline-block !important;
  height: 20px;
  margin-bottom: -3px;
  margin-right: 5px;
  width: 35px;
}

.td_avatar {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.key {
  margin: 3px;
}
.fill{
  margin-left: 6px;
  font-size: 18px;
  border: red solid 1.5px;
  color: red;
  padding: 0px 16px;
}
