.pl-20 {
    padding-left: 20px !important;
}

.webhook-description {
    max-width: 350px !important;
}

.required::after {
  color: red;
  content: "*";
  font-size: 15px;
}

.btn-pull-right {
  margin-left: 85% !important;
  margin-bottom: 5px !important;
}

.modal {
  top: calc(50% - 100px);
  left: calc(50% - 300px);
}

.modal-title {
  font-weight: bold !important;
  text-align: center;
}

.model-content {
  text-align: center;
}
