.pl-20 {
    padding-left: 20px !important;
}

.webhook-description {
    max-width: 350px !important;
}

.required::after {
  color: red;
  content: "*";
  font-size: 15px;
}

.btn-pull-right {
  margin-left: 85% !important;
  margin-bottom: 5px !important;
}

.modal-title {
  font-weight: bold !important;
  text-align: center;
}

.model-content {
  text-align: center;
}

.float-right {
  float: right;
  margin: 10px;
}

.btn--link-primary {
  color: #3990de;
}

.btn--link-danger {
  color: #f6576a;
}

.font-weight-normal {
  font-weight: 400!important;
}

.payload-example {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.detail-screen-modal {
  top: calc(20% - 100px);
  left: calc(20% - 300px);
}
